# Node modules
node_modules/

# Local environment configuration
.env
.env.local

# File Uploads folder
uploads/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.log

# System files
.DS_Store
